﻿body {
   color:rgb( 40, 44, 47 );
   letter-spacing:1.2px;
   width:100%;
   font-size:14px;
}
main {
    background-color:white;
    top:0;
    width:85%;
    margin: 0 auto; 
}
header {
    background-color:#EF6F43;
    margin:0;
    padding:0;
    top:0;
    height:13em;
    width:inherit;
}
h1 {
    font-size: 1.6em;
    display:inline-block;
    top:0;
    height:1.5em;
    width:15em;
    letter-spacing:15px;
}
h2 {
   margin:50px 0 0 0;
   font-weight:900;
   color:#EF6F43;
   letter-spacing:8px;
}
h3 {
    margin:40px 0 20px 0;
    color:#EF6F43;
    letter-spacing:5px;
}
select {
    padding:6px;
}
nav {
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: block;
  margin: 0;
  bottom:0;
  top:0;
  overflow: hidden;
  width: 100%; 
  background-color:#37474F;
}

    nav img {
        height:inherit;
    }
  nav ul {
    margin: 0;
    padding: 0;
  }

    nav select {
          letter-spacing:2px;
          background-color:#37474F;
          color:white;
    }

    nav ul li {
      display: inline-block;
      list-style-type: none;
      margin:0;
      padding:0;
      -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
      
      nav > ul > li > a > .caret {
        border-top: 4px solid #aaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;
        -webkit-transition: color 0.1s linear;
     	  -moz-transition: color 0.1s linear;
       	-o-transition: color 0.1s linear;
          transition: color 0.1s linear; 
      }
     .menu_title {
          color: white;
        display: block;
        line-height: 56px;
        padding: 0 24px;
        text-decoration: none;
      }
      nav > ul > li > a {
          color: white;
        display: block;
        line-height: 56px;
        margin:0;
        padding: 0 24px;
        text-decoration: none;
      }

        nav > ul > li:hover {
          background-color: #546E7A;
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }
      
      nav > ul > li > div {
        background-color: rgb( 40, 44, 47 );
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 320px;
	    visibility: hidden;
	    z-index: 100;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
      }

        nav > ul > li:hover > div {
          display: block;
          opacity: 1;
          visibility: visible;
        }
          nav > ul > li > div ul > li {
            display: block;
          }
            nav > ul > li > div ul > li > a {
              color: #fff;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }
              nav > ul > li > div ul > li:hover > a {
                background-color:#546E7A;
              }
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.form {
    margin:20px 0 20px 0;
}
#footer {
    clear:both;
}
.b {
    font-weight:800;
}
#chart {
    width:90%;
    display:block;
    margin-top:19500px;
}
#callTree{
   
}
#callTree li {
    list-style:none;
    cursor:pointer;

}
#callTree li>div:hover {
     border:2.5px solid #E64A19;
}
#callTree li>div{
    border:1px solid black;
    margin:2px;
}
#callTree li p{
    margin:.2em;
    overflow:hidden;
}
.empName {
    height:inherit;
    margin:0 .5em 0 0;
    font-size:18px;
}
.empEmail {
}
.phone{
}
.btn {
    margin:5px;
    padding:6px;
    background-color:#C8E6C9;
    border:1.8px solid #1B5E20;
    color:#1B5E20;
    cursor:pointer;
    font-weight:600;
}
.fieldName {
    margin:0 8px;
}
ul[data-parentid='0'] {
    padding-left:0;
}
#executiveInfo p{
}
.print {

}
.treeNode {
  display:block;
}
    .close:hover {
        color:#E64A19;
    }
@media only screen and (min-width:300px) {
    body {
        font-size: 14px;
    }
    nav {
        font-size:16px;
        letter-spacing:2px;
    }
    h1 {
        display:inline-block;
        font-size: 30px;
        margin: 2em 25%;
    }
    h2 {
        display:block;
        width:100%;
        font-size: 14px;
    }
    h3 {
        display:block;
        width:100%;
        font-size: 14px;
    }
    .empName {
        display:block;
    }
    .empEmail {
         display:block;
    }
    .execPhone {
         width:100%;
         display:block;
    }
    .execname{
        width:100%;
        font-weight:700;
    }
    .execemail{
        width:100%;
        display:block;
    }
    #executiveInfo p {
        margin-top:20px;
    }
    .close {
        padding:0;
        font-size:30px;
        display:inline;
        float:left;
        margin-left:2px;
        height:3em;
        margin:15px;
    }  
}
@media only screen and (min-width:1200px) {
    nav {
        font-size:13px;
        letter-spacing:4px;
    }
    h1 {
        display:inline-block;
        font-size: 24px;
        margin: 2.2em 35%;
    }
    h2 {
        font-size: 1.4em;
    }
     h3 {
        font-size: 1.2em;
    }
    .empName {
        display:inline-block;
    }
    .empEmail {
         display:inline-block;
    }
    .execPhone {
         width:30em;
         margin-left:5px;
         display:inline-block;
    }
    .execname{
        font-weight:400;
        display:inline-block;
        width:15em
    }
    .execemail{
        display:inline-block;
        width:20em;
        margin-left:10px;
        margin-right:10px;
    }
    .close {
        padding:0em 1%;
        font-size:12px;
        display:inline;
        float:left;
        margin-left:2px;
        height:3em;
        margin:0;
        font-weight:800;
    }   
}
@media print {
    nav, header, .form, .close {
        display:none;
    }
    .execPhone {
         width:25em;
         margin-left:5px;
         display:inline-block;
    }
    .execname{
        font-weight:400;
        display:inline-block;
        width:12em
    }
    .execemail{
        display:inline-block;
        width:18em;
        margin-left:10px;
        margin-right:10px;
    }
}